<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.pay.dao.PayChannelConfigDao">
	
	<select id="queryObject" resultType="me.flyray.pay.model.PayChannelConfig">
		select * from pay_channel_config where id = #{value}
	</select>

	<select id="queryList" resultType="me.flyray.pay.model.PayChannelConfig">
		select * from pay_channel_config order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from pay_channel_config 
	</select>
	 
	<insert id="save" parameterType="me.flyray.pay.model.PayChannelConfig" useGeneratedKeys="true" keyProperty="id">
		insert into pay_channel_config
		(
			`id`
			`pay_channel_no`,
			`pay_company_no`,
			`org_id`,
			`merchant_id`,
			`mer_account`,
			`mer_key`,
			`sing_type`
		)
		values
		(
			#{id}
			#{payChannelNo},
			#{payCompanyNo},
			#{orgId},
			#{merchantId},
			#{merAccount},
			#{merKey},
			#{singType}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.pay.model.PayChannelConfig">
		update pay_channel_config 
		<set>
			<if test="payChannelNo != null">`pay_channel_no` = #{payChannelNo}, </if>
			<if test="payCompanyNo != null">`pay_company_no` = #{payCompanyNo}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="merchantId != null">`merchant_id` = #{merchantId}, </if>
			<if test="merAccount != null">`mer_account` = #{merAccount}, </if>
			<if test="merKey != null">`mer_key` = #{merKey}, </if>
			<if test="singType != null">`sing_type` = #{singType}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from pay_channel_config where id = #{value}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from pay_channel_config where id in
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
  
</mapper>