<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.pay.dao.PayChannelInterfaceDao">
	
	<select id="queryObject" resultType="me.flyray.pay.model.PayChannelInterface">
		select * from pay_channel_interface where id = #{value}
	</select>

	<select id="queryList" resultType="me.flyray.pay.model.PayChannelInterface">
		select * from pay_channel_interface order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from pay_channel_interface 
	</select>
	 
	<insert id="save" parameterType="me.flyray.pay.model.PayChannelInterface" useGeneratedKeys="true" keyProperty="id">
		insert into pay_channel_interface
		(
			`pay_channel_no`,
			`pay_company_no`,
			`service_name`,
			`trade_type`
		)
		values
		(
			#{payChannelNo},
			#{payCompanyNo},
			#{serviceName},
			#{tradeType}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.pay.model.PayChannelInterface">
		update pay_channel_interface 
		<set>
			<if test="payChannelNo != null">`pay_channel_no` = #{payChannelNo}, </if>
			<if test="payCompanyNo != null">`pay_company_no` = #{payCompanyNo}, </if>
			<if test="serviceName != null">`service_name` = #{serviceName}, </if>
			<if test="tradeType != null">`trade_type` = #{tradeType}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from pay_channel_interface where id = #{value}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from pay_channel_interface where id in
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
  
</mapper>