<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.pay.dao.PayChannelDao">

	<select id="queryObject" resultType="me.flyray.pay.model.PayChannel">
		select * from pay_channel where id = #{id}
	</select>

	<select id="queryById" resultType="me.flyray.pay.model.PayChannel">
		select * from pay_channel where id = #{id}
	</select>

	<select id="queryList" resultType="me.flyray.pay.model.PayChannel">
		select * from pay_channel order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from pay_channel 
	</select>
	
	<insert id="save" parameterType="me.flyray.pay.model.PayChannel" useGeneratedKeys="true" keyProperty="id">
		insert into pay_channel
		(
			`pay_channel_no`,
			`pay_company_no`, 
			`fee_ratio`
		)
		values
		(
			#{payChannelNo},
			#{payCompanyNo},
			#{feeRatio}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.pay.model.PayChannel">
		update pay_channel 
		<set>
			<if test="payChannelNo != null">`pay_channel_no` = #{payChannelNo}, </if>
			<if test="payCompanyNo != null">`pay_company_no` = #{payCompanyNo},</if>
			<if test="feeRatio != null">`fee_ratio` = #{feeRatio}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from pay_channel where id = #{value}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from pay_channel where id in
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
  
</mapper>