<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.pay.dao.PaySerialDao">

	<select id="queryObject" resultType="me.flyray.pay.model.PaySerial">
		select * from pay_serial where id = #{value}
	</select>
	<select id="queryById" resultType="me.flyray.pay.model.PaySerial">
		select * from pay_serial where id = #{value}
	</select>
	<select id="queryList" resultType="me.flyray.pay.model.PaySerial">
		select * from pay_serial order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from pay_serial 
	</select>
	 
	<insert id="save" parameterType="me.flyray.pay.model.PaySerial" useGeneratedKeys="true" keyProperty="id">
		insert into pay_serial
		(
			`url`, 
			`create_date`
		)
		values
		(
			#{url}, 
			#{createDate}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.pay.model.PaySerial">
		update pay_serial 
		<set>
			<if test="url != null">`url` = #{url}, </if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from pay_serial where id = #{value}
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from pay_serial where id in
		<foreach item="id" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
  
</mapper>