<!DOCTYPE html>
<html>
<head>
    <title>会员角色管理</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.roleName" @keyup.enter="query" placeholder="角色名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>

            #if($shiro.hasPermission("crm:customerRole:save"))
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            #end
            #if($shiro.hasPermission("crm:customerRole:update"))
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            #end
            #if($shiro.hasPermission("crm:customerRole:delete"))
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            #end
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">角色号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="CustomerRole.roleNo" placeholder="角色名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">角色名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="CustomerRole.roleName" placeholder="角色名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">商品</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="CustomerRole.merchantId" placeholder="商铺"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">组织</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="CustomerRole.orgId" placeholder="组织"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${rc.contextPath}/js/crm/customer_role.js?_${date.systemTime}"></script>
</body>
</html>