<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.crm.dao.CustomerAccountDao">
	
	<sql id="where1">
		<trim prefix="where" prefixOverrides="AND|OR">
		<if test="customerId != null and customerId != ''">
			AND customer_id = #{customerId,jdbcType=VARCHAR}
        </if>
        <if test="custAccountNo != null and custAccountNo != ''">
			AND cust_account_no = #{custAccountNo,jdbcType=VARCHAR}
        </if>
        <if test="accountType != null and accountType != ''">
			AND account_type = #{accountType,jdbcType=VARCHAR}
        </if>
		</trim>
	</sql>
	
	<select id="queryObject" resultType="me.flyray.crm.model.CustomerAccount">
		select * from crm_customer_account 
		<include refid="where1"/>
	</select>
	
	<select id="queryById" resultType="me.flyray.crm.model.CustomerAccount">
		select * from crm_customer_account where customer_id = #{customerId}
	</select>

	<select id="queryList" resultType="me.flyray.crm.model.CustomerAccount">
		select * from crm_customer_account 
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from crm_customer_account 
	</select>
	
	<insert id="save" parameterType="me.flyray.crm.model.CustomerAccount" useGeneratedKeys="true" keyProperty="id">
		insert into crm_customer_account
		(
			`customer_id`, 
			`cust_account_no`,
			`account_type`,
			`value`,
			`freeze_value`
		)
		values
		(
			#{customerId}, 
			#{custAccountNo},
			#{accountType},
			#{value},
			#{freezeValue}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.crm.model.CustomerAccount">
		update crm_customer_account 
		<set>
			<if test="value != null">`value` = #{value}, </if>
			<if test="freezeValue != null">`freeze_value` = #{freezeValue}</if>
		</set>
		where customer_id = #{customerId} and account_type = #{accountType}
	</update>
	
	<delete id="delete">
		delete from crm_customer_account where id = #{id}
	</delete>
  
</mapper>