<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.crm.dao.CustomerAccountJournalDao">

	<select id="queryObject" resultType="me.flyray.crm.model.CustomerAccountJournal">
		select * from crm_customer_account_journal where id = #{id}
	</select>
	
	<select id="queryById" resultType="me.flyray.crm.model.CustomerAccountJournal">
		select * from crm_customer_account_journal where id = #{id}
	</select>

	<select id="queryList" resultType="me.flyray.crm.model.CustomerAccountJournal">
		select * from crm_customer_account_journal order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from crm_customer_account_journal 
	</select>
	
	<insert id="save" parameterType="me.flyray.crm.model.CustomerAccountJournal" useGeneratedKeys="true" keyProperty="id">
		insert into crm_customer_account_journal
		(
			`id`,
			`Journal_no`,
			`customer_id`,
			`customer_account_no`,
			`amt`,
			`funds_direction`,
			`create_time`
		)
		values
		(
			#{id}, 
			#{JournalNo},
			#{customerId},
			#{customerAccountNo},
			#{amt},
			#{fundsDirection},
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.crm.model.CustomerAccountJournal">
		update crm_customer_account_journal 
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from crm_customer_account_journal where id = #{id}
	</delete>
  
</mapper>