<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.crm.dao.CustomerRelationsDao">

	<select id="queryObject" resultType="me.flyray.crm.model.CustomerRelations">
		select * from crm_customer_relations where customer_id = #{customerId}
	</select>
	
	<select id="queryByCustomerId" resultType="me.flyray.crm.model.CustomerRelations">
		select * from crm_customer_relations where customer_id = #{customerId}
	</select>

	<select id="queryList" resultType="me.flyray.crm.model.CustomerRelations">
		select * from crm_customer_relations order by customer_id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from crm_customer_relations 
	</select>
	
	<insert id="save" parameterType="me.flyray.crm.model.CustomerRelations" useGeneratedKeys="true" keyProperty="id">
		insert into crm_customer_relations
		(
			`wx_id`, 
			`customer_id`, 
			`fx_level`, 
			`parent_id`,
			`child_id`
		)
		values
		(
			#{wxId}, 
			#{customerId},
			#{fxLevel},
			#{parentId},
			#{childId}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.crm.model.CustomerRelations">
		update crm_customer_relations 
		<set>
			<if test="customerNo != null">`customer_no` = #{customerNo}, </if>
			<if test="identityType != null">`identity_type` = #{identityType},</if>
			<if test="identifier != null">`identifier` = #{identifier},</if>
			<if test="credential != null">`credential` = #{credential}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from crm_customer_relations where id = #{id}
	</delete>
  
</mapper>