<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.crm.dao.MerchantBaseDao">

	<select id="queryObject" resultType="me.flyray.crm.model.MerchantBase">
		select * from crm_merchant_base where id = #{value}
	</select>
	
	<select id="queryById" resultType="me.flyray.crm.model.MerchantBase">
		select * from crm_merchant_base where id = #{id}
	</select>

	<select id="queryList" resultType="me.flyray.crm.model.MerchantBase">
		select * from crm_merchant_base order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from crm_merchant_base 
	</select>
	
	<insert id="save" parameterType="me.flyray.crm.model.MerchantBase" useGeneratedKeys="true" keyProperty="id">
		insert into crm_merchant_base
		(
			`merchant_no`, 
			`org_no`,
			`merchant_name`,
			`brief_intro`,
			`merchant_address`,
			`merchant_phone`,
			`merchant_logo`
		)
		values
		(
			#{merchantNo}, 
			#{orgNo}, 
			#{merchantName}, 
			#{briefIntro}, 
			#{merchantAddress},
			#{merchantPhone},
			#{merchantLogo}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.crm.model.MerchantBase">
		update crm_merchant_base 
		<set>
			<if test="merchantNo != null">`merchant_no` = #{merchantNo}, </if>
			<if test="orgNo != null">`org_no` = #{orgNo}, </if>
			<if test="merchantName != null">`merchant_name` = #{merchantName}, </if>
			<if test="briefIntro != null">`brief_intro` = #{briefIntro}, </if>
			<if test="merchantAddress != null">`merchant_address` = #{merchantAddress}, </if>
			<if test="merchantPhone != null">`merchant_phone` = #{merchantPhone}, </if>
			<if test="merchantLogo != null">`merchant_logo` = #{merchantLogo}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from crm_merchant_base where id = #{id}
	</delete>
  
</mapper>