<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.erp.dao.ProductDao">

	<select id="queryObject" resultType="me.flyray.erp.model.Product">
		select * from erp_product where id = #{id}
	</select>
	
	<select id="queryById" resultType="me.flyray.erp.model.Product">
		select * from erp_product where id = #{id}
	</select>

	<select id="queryList" resultType="me.flyray.erp.model.Product">
		select * from erp_product order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from erp_product 
	</select>
	
	<insert id="save" parameterType="me.flyray.erp.model.Product" useGeneratedKeys="true" keyProperty="id">
		insert into erp_product
		(
			`categary_id`, 
			`product_name`, 
			`product_des`, 
			`product_price`,
			`merchant_no`
		)
		values
		(
			#{categaryId}, 
			#{productName},
			#{productDes},
			#{productPrice},
			#{merchantNo}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.erp.model.Product">
		update erp_product 
		<set>
			<if test="categaryId != null">`categary_id` = #{categaryId}, </if>
			<if test="productName != null">`product_name` = #{productName},</if>
			<if test="productDes != null">`product_des` = #{productDes},</if>
			<if test="productPrice != null">`product_price` = #{productPrice},</if>
			<if test="merchantNo != null">`merchant_no` = #{merchantNo}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from erp_product where id = #{id}
	</delete>
  
</mapper>