<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.erp.dao.ProductCategaryDao">

	<select id="queryObject" resultType="me.flyray.erp.model.ProductCategary">
		select * from erp_product_categary where id = #{id}
	</select>
	
	<select id="queryById" resultType="me.flyray.erp.model.ProductCategary">
		select * from erp_product_categary where id = #{id}
	</select>

	<select id="queryList" resultType="me.flyray.erp.model.ProductCategary">
		select * from erp_product_categary order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from erp_product_categary 
	</select>
	
	<insert id="save" parameterType="me.flyray.erp.model.ProductCategary" useGeneratedKeys="true" keyProperty="id">
		insert into erp_product_categary
		(
			`org_id`, 
			`merchant_no`, 
			`categary_name`
		)
		values
		(
			#{orgId}, 
			#{merchantNo},
			#{categaryName}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.erp.model.ProductCategary">
		update erp_product_categary 
		<set>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="merchantNo != null">`merchant_no` = #{merchantNo},</if>
			<if test="categaryName != null">`categary_name` = #{categaryName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from erp_product_categary where id = #{id}
	</delete>
  
</mapper>