<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.erp.dao.PurchaseOrderDao">

	<select id="queryObject" resultType="me.flyray.erp.model.PurchaseOrder">
		select * from erp_purchase_order where id = #{id}
	</select>
	
	<select id="queryById" resultType="me.flyray.erp.model.PurchaseOrder">
		select * from erp_purchase_order where id = #{id}
	</select>

	<select id="queryList" resultType="me.flyray.erp.model.PurchaseOrder">
		select * from erp_purchase_order order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from erp_purchase_order 
	</select>
	
	<insert id="save" parameterType="me.flyray.erp.model.PurchaseOrder" useGeneratedKeys="true" keyProperty="id">
		insert into erp_purchase_order
		(
			`org_id`, 
			`merchant_no`, 
			`purchase_name`, 
			`purchase_des`,
			`total_price`,
			`purchase_amout`,
			`unit_price`
		)
		values
		(
			#{orgId}, 
			#{merchantNo},
			#{purchaseName},
			#{purchaseDes},
			#{totalPrice},
			#{purchaseAmout},
			#{unitPrice}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.erp.model.PurchaseOrder">
		update erp_purchase_order 
		<set>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="merchantNo != null">`merchant_no` = #{merchantNo},</if>
			<if test="purchaseName != null">`purchase_name` = #{purchaseName},</if>
			<if test="purchaseDes != null">`purchase_des` = #{purchaseDes},</if>
			<if test="totalPrice != null">`total_price` = #{totalPrice},</if>
			<if test="purchaseAmout != null">`purchase_amout` = #{purchaseAmout},</if>
			<if test="unitPrice != null">`unit_price` = #{unitPrice}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from erp_purchase_order where id = #{id}
	</delete>
  
</mapper>