<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.cms.dao.ActivityDao">
	
	<resultMap type="me.flyray.cms.model.Activity" id="activityMap">
	    <id column="id" property="id" jdbcType="VARCHAR" />
		<result column="interest_group_id" property="InterestGroupId" jdbcType="VARCHAR" />
		<result column="activity_name" property="activityName" jdbcType="VARCHAR" />
		<result column="activity_logo" property="activityLogo" jdbcType="VARCHAR" />
		<result column="activity_des" property="activityDes" jdbcType="VARCHAR" />
		<result column="activity_content" property="activityContent" jdbcType="VARCHAR" />
		<result column="activity_start_time" property="activityStartTime" jdbcType="TIMESTAMP" />
		<result column="activity_end_time" property="activityEndTime" jdbcType="TIMESTAMP" />
		<result column="activity_addr" property="activityAddr" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
        id, interest_group_id, activity_name, activity_logo, activity_des, activity_content, activity_start_time, activity_end_time, activity_addr, create_time, create_by, flag
    </sql>
    
    <sql id="where1">
		<trim prefix="where" prefixOverrides="AND|OR">
		<if test="id != null and id != ''">
			AND id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="InterestGroupId != null and InterestGroupId != ''">
			AND interest_group_id = #{InterestGroupId,jdbcType=VARCHAR}
        </if>
        <if test="activityName != null and activityName != ''">
			AND activity_name = #{activityName,jdbcType=VARCHAR}
        </if>
        <if test="activityLogo != null and activityLogo != ''">
			AND activity_logo = #{activityLogo,jdbcType=VARCHAR}
        </if>
        <if test="activityDes != null and activityDes != ''">
			AND activity_des = #{activityDes,jdbcType=VARCHAR}
        </if>
        <if test="activityContent != null and activityContent != ''">
			AND activity_content = #{activityContent,jdbcType=VARCHAR}
        </if>
        <if test="activityStartTime != null and activityStartTime != ''">
			AND activity_start_time = #{activityStartTime,jdbcType=TIMESTAMP}
        </if>
        <if test="activityEndTime != null and activityEndTime != ''">
			AND activity_end_time = #{activityEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="activityAddr != null and activityAddr != ''">
			AND activity_addr = #{activityAddr,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
			AND create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createBy != null and createBy != ''">
			AND create_by = #{createBy,jdbcType=VARCHAR}
        </if>
        <if test="flag != null and flag != ''">
			AND flag = #{flag,jdbcType=VARCHAR}
        </if>
		</trim>
	</sql>
	
	<insert id="insert" parameterType="me.flyray.cms.model.Activity">
		insert into cms_activity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				id,
			</if>
			<if test="InterestGroupId != null and InterestGroupId != ''">
				interest_group_id,
			</if>
			<if test="activityName != null and activityName != ''">
				activity_name,
			</if>
			<if test="activityLogo != null and activityLogo != ''">
				activity_logo,
			</if>
			<if test="activityDes != null and activityDes != ''">
				activity_des,
			</if>
			<if test="activityContent != null and activityContent != ''">
				activity_content,
			</if>
			<if test="activityStartTime != null and activityStartTime != ''">
				activity_start_time,
			</if>
			<if test="activityEndTime != null and activityEndTime != ''">
				activity_end_time,
			</if>
			<if test="activityAddr != null and activityAddr != ''">
				activity_addr,
			</if>
			<if test="createTime != null and createTime != ''">
				create_time,
			</if>
			<if test="createBy != null and createBy != ''">
				create_by,
			</if>
			<if test="flag != null and flag != ''">
				flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id,jdbcType=VARCHAR},
	        </if>
	        <if test="InterestGroupId != null and InterestGroupId != ''">
				#{InterestGroupId,jdbcType=VARCHAR},
	        </if>
	        <if test="activityName != null and activityName != ''">
				#{activityName,jdbcType=VARCHAR},
	        </if>
	        <if test="activityLogo != null and activityLogo != ''">
				#{activityLogo,jdbcType=VARCHAR},
	        </if>
	        <if test="activityDes != null and activityDes != ''">
				#{activityDes,jdbcType=VARCHAR},
	        </if>
	        <if test="activityContent != null and activityContent != ''">
				#{activityContent,jdbcType=VARCHAR},
	        </if>
	        <if test="activityStartTime != null and activityStartTime != ''">
				#{activityStartTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="activityEndTime != null and activityEndTime != ''">
				#{activityEndTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="activityAddr != null and activityAddr != ''">
				#{activityAddr,jdbcType=VARCHAR},
	        </if>
	        <if test="createTime != null and createTime != ''">
				#{createTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="createBy != null and createBy != ''">
				#{createBy,jdbcType=VARCHAR},
	        </if>
	        <if test="flag != null and flag != ''">
				#{flag,jdbcType=VARCHAR},
	        </if>
		</trim>
	</insert>

	<update id="update" parameterType="me.flyray.cms.model.Activity">
		update cms_activity
		<set>
	        <if test="InterestGroupId != null and InterestGroupId != ''">
				interest_group_id = #{InterestGroupId,jdbcType=VARCHAR},
	        </if>
	        <if test="activityName != null and activityName != ''">
				activity_name = #{activityName,jdbcType=VARCHAR},
	        </if>
	        <if test="activityLogo != null and activityLogo != ''">
				activity_logo = #{activityLogo,jdbcType=VARCHAR},
	        </if>
	        <if test="activityDes != null and activityDes != ''">
				activity_des = #{activityDes,jdbcType=VARCHAR},
	        </if>
	        <if test="activityContent != null and activityContent != ''">
				activity_content = #{activityContent,jdbcType=VARCHAR},
	        </if>
	        <if test="activityStartTime != null and activityStartTime != ''">
				activity_start_time = #{activityStartTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="activityEndTime != null and activityEndTime != ''">
				activity_end_time = #{activityEndTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="activityAddr != null and activityAddr != ''">
				activity_addr = #{activityAddr,jdbcType=VARCHAR},
	        </if>
	        <if test="createTime != null and createTime != ''">
				create_time = #{createTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="createBy != null and createBy != ''">
				create_by = #{createBy,jdbcType=VARCHAR},
	        </if>
	        <if test="flag != null and flag != ''">
				flag = #{flag,jdbcType=VARCHAR},
	        </if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByBizKeys" resultMap="activityMap" parameterType="me.flyray.cms.model.Activity">
		select
		<include refid="Base_Column_List" />
		from cms_activity
        <include refid="where1"/>
	</select>
	
	<select id="selectRecommendActivity" resultMap="activityMap">
		SELECT ac.* FROM cms_activity AS ac
		LEFT JOIN cms_interest_group AS gp ON ac.interest_group_id = gp.id
		<where>
			<trim prefixOverrides="AND|OR">
		        <if test="orgId != null and orgId != ''">
					AND org_id = #{orgId,jdbcType=VARCHAR}
		        </if>
		        <if test="merchantId != null and merchantId != ''">
					AND merchant_id = #{merchantId,jdbcType=VARCHAR}
		        </if>
		        <if test="InterestGroupId != null and InterestGroupId != ''">
					AND interest_group_id = #{InterestGroupId,jdbcType=VARCHAR}
		        </if>
		        AND ac.flag = '10'
			</trim>
        </where>
        LIMIT 3
	</select>
	
	<select id="queryList" resultType="me.flyray.cms.model.Activity"
		parameterType="java.util.Map">
		select 
		<include refid="Base_Column_List" />
		from cms_activity
		<include refid="where1"/>
		order by create_time desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="queryTotal" resultType="int">
		select count(*) from cms_activity
        <include refid="where1"/>
	</select>
	
	<select id="selectStartActivity" resultMap="activityMap" parameterType="java.util.Map">
		select 
		<include refid="Base_Column_List" />
		from cms_activity
		<where>
			<trim prefixOverrides="AND|OR">
		        <if test="InterestGroupId != null and InterestGroupId != ''">
					AND interest_group_id = #{InterestGroupId,jdbcType=VARCHAR}
		        </if>
		        <if test="currentTime != null and currentTime != ''">
					AND activity_start_time &gt; #{currentTime,jdbcType=TIMESTAMP}
		        </if>
			</trim>
        </where>
        order by create_time desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="selectStartActTotal" resultType="int">
		select count(*) from cms_activity
		<where>
			<trim prefixOverrides="AND|OR">
		        <if test="InterestGroupId != null and InterestGroupId != ''">
					AND interest_group_id = #{InterestGroupId,jdbcType=VARCHAR}
		        </if>
		        <if test="currentTime != null and currentTime != ''">
					AND activity_start_time &gt; #{currentTime,jdbcType=TIMESTAMP}
		        </if>
			</trim>
        </where>
	</select>
	
	<select id="selectEndActivity" resultMap="activityMap" parameterType="java.util.Map">
		select 
		<include refid="Base_Column_List" />
		from cms_activity
		<where>
			<trim prefixOverrides="AND|OR">
		        <if test="InterestGroupId != null and InterestGroupId != ''">
					AND interest_group_id = #{InterestGroupId,jdbcType=VARCHAR}
		        </if>
		        <if test="currentTime != null and currentTime != ''">
					AND activity_end_time &lt; #{currentTime,jdbcType=TIMESTAMP}
		        </if>
			</trim>
        </where>
        order by create_time desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="selectEndActTotal" resultType="int">
		select count(*) from cms_activity
		<where>
			<trim prefixOverrides="AND|OR">
		        <if test="InterestGroupId != null and InterestGroupId != ''">
					AND interest_group_id = #{InterestGroupId,jdbcType=VARCHAR}
		        </if>
		        <if test="currentTime != null and currentTime != ''">
					AND activity_end_time &lt; #{currentTime,jdbcType=TIMESTAMP}
		        </if>
			</trim>
        </where>
	</select>
	
	<select id="selectProcessActivity" resultMap="activityMap" parameterType="java.util.Map">
		select 
		<include refid="Base_Column_List" />
		from cms_activity
		<where>
			<trim prefixOverrides="AND|OR">
		        <if test="InterestGroupId != null and InterestGroupId != ''">
					AND interest_group_id = #{InterestGroupId,jdbcType=VARCHAR}
		        </if>
		        <if test="currentTime != null and currentTime != ''">
					AND activity_start_time &lt; #{currentTime,jdbcType=TIMESTAMP}
					AND activity_end_time &gt; #{currentTime,jdbcType=TIMESTAMP}
		        </if>
			</trim>
        </where>
        order by create_time desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="selectProcessActTotal" resultType="int">
		select count(*) from cms_activity
		<where>
			<trim prefixOverrides="AND|OR">
		        <if test="InterestGroupId != null and InterestGroupId != ''">
					AND interest_group_id = #{InterestGroupId,jdbcType=VARCHAR}
		        </if>
		        <if test="currentTime != null and currentTime != ''">
					AND activity_start_time &lt; #{currentTime,jdbcType=TIMESTAMP}
					AND activity_end_time &gt; #{currentTime,jdbcType=TIMESTAMP}
		        </if>
			</trim>
        </where>
	</select>
	
	<select id="queryEntity" resultType="me.flyray.cms.model.Activity" parameterType="me.flyray.cms.model.Activity">
		select 
		<include refid="Base_Column_List" />
		from cms_activity
		<include refid="where1"/>
	</select>
  
</mapper>