<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.cms.dao.CommentDao">

	<sql id="where1">
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="commentType != null"> AND comment_type = #{commentType} </if>
			<if test="parentId != null"> AND parent_id = #{parentId} </if>
			<if test="commentTargetId != null">AND comment_target_id = #{commentTargetId} </if>
			<if test="commentModuleNo != null">AND comment_module_no = #{commentModuleNo}</if>
			<if test="merchantId != null">AND merchant_id = #{merchantId}</if>
			<if test="orgId != null">AND org_id = #{orgId}</if>
		</trim>
	</sql>
	<select id="queryObject" resultType="me.flyray.cms.model.Comment">
		select * from cms_comment
		where id = #{id}
	</select>

	<select id="queryById" resultType="me.flyray.cms.model.Comment">
		select * from cms_comment
		where id = #{id}
	</select>

	<select id="queryList" resultType="me.flyray.cms.model.Comment">
		select * from cms_comment 
		<include refid="where1"/>
		order by comment_time desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="queryTotal" resultType="int">
		select count(*) from
		cms_comment 
		<include refid="where1"/>
	</select>

	<insert id="save" parameterType="me.flyray.cms.model.Comment" keyProperty="id">
		insert into cms_comment
		(
		`id`,
		`parent_id`,
		`comment_type`,
		`comment_content`,
		`comment_target_id`,
		`comment_by_name`,
		`comment_by`,
		`comment_target_user_name`,
		`comment_target_user_id`,
		`comment_likeCount`,
		`comment_time`,
		`comment_module_no`,
		`merchant_id`,
		`org_id`,
		)
		values
		(
		#{id},
		#{parentId},
		#{commentType},
		#{commentContent},
		#{commentTargetId},
		#{commentByName},
		#{commentBy},
		#{commentTargetUserName},
		#{commentTargetUserId},
		#{commentLikeCount},
		#{commentTime},
		#{commentModuleNo},
		#{merchantId},
		#{orgId},
		)
	</insert>

	<update id="update" parameterType="me.flyray.cms.model.Comment">
		update cms_comment
		<set>
			<if test="id != null">`id` = #{id}, </if>
			<if test="columnContentTitle != null">`column_content_title` = #{columnContentTitle},</if>
			<if test="column_content != null">`column_content` = #{column_content},</if>
			<if test="columnContentLogo != null">`column_content_logo` = #{columnContentLogo}</if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
			<if test="createBy != null">`create_by` = #{createBy}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete">
		delete from cms_comment where id = #{id}
	</delete>

</mapper>