<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.cms.dao.CustomerSpecialColumnDao">

	<sql id="where1">
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="customerId != null and customerId != ''">
				AND customer_id = #{customerId,jdbcType=INTEGER}
	        </if>
	        <if test="specialColumnId != null and specialColumnId != ''">
				AND special_column_id = #{specialColumnId,jdbcType=INTEGER}
	        </if>
		</trim>
	</sql>
	
	<select id="queryObject" resultType="me.flyray.cms.model.CustomerSpecialColumn">
		select * from cms_customer_special_column where id = #{id}
	</select>
	
	<select id="queryById" resultType="me.flyray.cms.model.CustomerSpecialColumn">
		select * from cms_customer_special_column where id = #{id}
	</select>

	<select id="queryList" resultType="me.flyray.cms.model.CustomerSpecialColumn">
		select * from cms_customer_special_column order by id desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(1) from cms_customer_special_column
		<include refid="where1"/>
	</select>
	
	<insert id="save" parameterType="me.flyray.cms.model.CustomerSpecialColumn" useGeneratedKeys="true" keyProperty="id">
		insert into cms_customer_special_column
		(
			`customer_id`, 
			`special_column_id`
		)
		values
		(
			#{customerId}, 
			#{specialColumnId}
		)
	</insert>
	 
	<update id="update" parameterType="me.flyray.cms.model.CustomerSpecialColumn">
		update cms_customer_special_column 
		<set>
			<if test="customerId != null">`customer_id` = #{customerId}, </if>
			<if test="specialColumnId != null">`special_column_id` = #{specialColumnId},</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from cms_customer_special_column where id = #{id}
	</delete>
	
	<delete id="deleteOne">
		delete from cms_customer_special_column where customer_id = #{customerId} and special_column_id = #{specialColumnId}
	</delete>
  
</mapper>