<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.flyray.cms.dao.ViewpointDao">

	<resultMap
		type="me.flyray.cms.model.Viewpoint"
		id="point">
		<result property="id" column="id" />
		<result property="createBy" column="create_by" />
		<result property="pointText" column="point_text" />
		<result property="pointImg" column="point_img" />
		<result property="pointTime" column="point_time" />
		<result property="favortCount" column="favort_count" />
		<result property="commentCount" column="comment_count" />
	</resultMap>

	<sql id="Base_Column_List">
		id, create_by, point_text, point_img, point_time, point_address, favort_count, comment_count
	</sql>
	<sql id="where">
		<trim prefix="where" suffixOverrides="AND">
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR} AND
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT} AND
			</if>
			<if test="pointText != null">
				point_text = #{pointText,jdbcType=VARCHAR} AND
			</if>
			<if test="pointImg != null">
				point_img = #{pointImg,jdbcType=VARCHAR} AND
			</if>
			<if test="pointTime != null">
				point_time = #{pointTime,jdbcType=TIMESTAMP} AND
			</if>
			<if test="pointAddress != null">
				point_address = #{pointAddress,jdbcType=VARCHAR} AND
			</if>
		</trim>
	</sql>


	<delete id="deleteById" parameterType="java.lang.String">
		delete from cms_view_point where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="save" keyProperty="id"
		parameterType="me.flyray.cms.model.Viewpoint">
		insert into cms_view_point (id, create_by, point_text, point_img, point_time, point_address, favort_count, comment_count)
		values (
		#{id,jdbcType=VARCHAR}
		,#{createBy,jdbcType=BIGINT}
		,#{pointText,jdbcType=VARCHAR}
		,#{pointImg,jdbcType=VARCHAR}
		,#{pointTime,jdbcType=TIMESTAMP}
		,#{pointAddress,jdbcType=VARCHAR}
		,#{favortCount,jdbcType=INTEGER}
		,#{commentCount,jdbcType=INTEGER}
		)
	</insert>
	<update id="update"
		parameterType="me.flyray.cms.model.Viewpoint">
		update cms_view_point
		<set>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="pointText != null">
				point_text = #{pointText,jdbcType=VARCHAR},
			</if>
			<if test="pointImg != null">
				point_img = #{pointImg,jdbcType=VARCHAR},
			</if>
			<if test="pointAddress != null">
				point_address = #{pointAddress,jdbcType=VARCHAR},
			</if>
			<if test="favortCount != null">
				favort_count = #{favortCount,jdbcType=INTEGER},
			</if>
			<if test="commentCount != null">
				comment_count = #{commentCount,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="queryList" resultMap="point"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from cms_view_point
		<include refid="where" />
		 ORDER BY point_time desc 
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	<select id="queryTotal" resultType="int">
		select count(1) from cms_view_point 
		<include refid="where" />
	</select>
	<select id="selectById" resultMap="point"
			parameterType="java.lang.String">
			select
			<include refid="Base_Column_List" />
			from cms_view_point
			where id = #{id,jdbcType=VARCHAR}
	</select>
</mapper>