<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.cms.dao.ViewFavortDao">

	<select id="queryObject" resultType="me.flyray.cms.model.ViewFavort">
		select * from cms_view_favort 
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="queryList" resultType="me.flyray.cms.model.ViewFavort"
		parameterType="java.util.Map">
		select * from cms_view_favort 
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="createBy != null">create_by = #{createBy} AND</if>
			<if test="pointId != null">point_id = #{pointId} AND</if>
			<if test="favortStatus != null">favort_status = #{favortStatus} AND</if>
			<if test="merchantId != null">merchant_id = #{merchantId} AND</if>
			<if test="orgId != null">org_id = #{orgId} AND</if>
		</trim>
		order by create_time desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>


	<select id="query" resultType="me.flyray.cms.model.ViewFavort"
		parameterType="java.util.Map">
		select * from cms_view_favort
		<where>
			1 = 1
			<if test="createBy != null">
				AND create_by = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="pointId != null">
				AND point_id = #{pointId,jdbcType=VARCHAR}
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId,jdbcType=VARCHAR} 
			</if>
			<if test="orgId != null">
				AND org_id = #{orgId,jdbcType=VARCHAR} 
			</if>
		</where>
	</select>
	
	<select id="queryCount" resultType="int"
		parameterType="java.util.Map">
		select count(*) from cms_view_favort
		<where>
			1 = 1
			<if test="customerId != null">
				AND create_by = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="pointId != null">
				AND point_id = #{pointId,jdbcType=VARCHAR}
			</if>
			<if test="merchantId != null">
				AND merchant_id = #{merchantId,jdbcType=VARCHAR} 
			</if>
			<if test="orgId != null">
				AND org_id = #{orgId,jdbcType=VARCHAR} 
			</if>
		</where>
	</select>
	<update id="update" parameterType="me.flyray.cms.model.ViewFavort">
		update cms_view_favort
			<set>
		        <if test="favortStatus != null and favortStatus != ''">
					favort_status = #{favortStatus,jdbcType=INTEGER},
		        </if>
		        <if test="updateTime != null and updateTime != ''">
					update_time = #{updateTime,jdbcType=TIMESTAMP},
		        </if>
			</set>
			where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="queryTotal" resultType="int">
		select count(*) from
		cms_view_favort
	</select>

	<insert id="save" parameterType="me.flyray.cms.model.ViewFavort">
		insert into cms_view_favort (id,create_by,point_id,favort_status,create_time,update_time,merchant_id,org_id) values (
		#{id,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR},
		#{pointId,jdbcType=VARCHAR},
		#{favortStatus,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{merchantId,jdbcType=VARCHAR},
		#{orgId,jdbcType=VARCHAR}
		)
		
	</insert>
	<delete id="delete">
		delete from cms_view_favort
		where id = #{id,jdbcType=VARCHAR}
	</delete>

</mapper>