<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="viewpoint">

	<resultMap
		type="me.flyray.cms.model.Viewpoint"
		id="point">
		<result property="id" column="id" />
		<result property="customerNo" column="customer_no" />
		<result property="pointText" column="point_text" />
		<result property="pointImg" column="point_img" />
		<result property="pointTime" column="point_time" />
		<result property="pointAddress" column="point_address" />
	</resultMap>

	<sql id="Base_Column_List">
		id, customer_no, point_text, point_img, point_time, point_address
	</sql>
	<sql id="where">
		<trim prefix="where" suffixOverrides="AND">
			<if test="id != null">
				id = #{id,jdbcType=BIGINT} AND
			</if>
			<if test="customerNo != null">
				customer_no = #{customerNo,jdbcType=VARCHAR} AND
			</if>
			<if test="pointText != null">
				point_text = #{pointText,jdbcType=VARCHAR} AND
			</if>
			<if test="pointImg != null">
				point_img = #{pointImg,jdbcType=VARCHAR} AND
			</if>
			<if test="pointTime != null">
				point_time = #{pointTime,jdbcType=TIMESTAMP} AND
			</if>
			<if test="pointAddress != null">
				point_address = #{pointAddress,jdbcType=VARCHAR} AND
			</if>
		</trim>
	</sql>


	<delete id="deleteById" parameterType="java.lang.Long">
		delete from cms_view_point where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="me.flyray.cms.model.Viewpoint">
		insert into cms_view_point (id, customer_no, point_text, point_img, point_time, point_address)
		values (
		#{id,jdbcType=BIGINT}
		,#{customerNo,jdbcType=VARCHAR}
		,#{pointText,jdbcType=VARCHAR}
		,#{pointImg,jdbcType=VARCHAR}
		,#{pointTime,jdbcType=TIMESTAMP}
		,#{pointAddress,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateById"
		parameterType="me.flyray.cms.model.Viewpoint">
		update cms_view_point
		<set>
			<if test="customerNo != null">
				customer_no = #{customerNo,jdbcType=VARCHAR},
			</if>
			<if test="pointText != null">
				point_text = #{pointText,jdbcType=VARCHAR},
			</if>
			<if test="pointImg != null">
				point_img = #{pointImg,jdbcType=VARCHAR},
			</if>
			<if test="pointAddress != null">
				point_address = #{pointAddress,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="queryAll" resultMap="point"
		parameterType="me.flyray.cms.model.Viewpoint">
		select
		<include refid="Base_Column_List" />
		from cms_view_point
		<include refid="where" />
	</select>
	<select id="queryCountAll" resultType="int"
		parameterType="me.flyray.cms.model.Viewpoint">
		select
		count(1)
		from cms_view_point
		<include refid="where" />
	</select>
	<select id="selectById" resultMap="point"
			parameterType="me.flyray.cms.model.Viewpoint">
			select
			<include refid="Base_Column_List" />
			from cms_view_point
			where id = #{id,jdbcType=BIGINT}
	</select>
</mapper>