/cmsConfig.properties
/crmConfig.properties
/dubbo.properties
/erpConfig.properties
/message.properties
/pay.properties
/payConfig.properties
/rbac.properties
/restConfig.properties
/search.properties
/wx.properties
