<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.payOrderNo" @keyup.enter="query" placeholder="订单号">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			#if($shiro.hasPermission("pay:payOrder:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("pay:payOrder:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("pay:payOrder:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">订单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="payOrder.payOrderNo" placeholder="订单号"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">客户账号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="payOrder.customerNo" placeholder="客户账号"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">商户账号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="payOrder.payTime" placeholder="商户账号"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">交易时间</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="payOrder.merchantNo" placeholder="交易时间"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">交易手续费</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="payOrder.payAmt" placeholder="交易手续费"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">订单描述</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="payOrder.body" placeholder="订单描述"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">商户订单号</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="payOrder.outTradeNo" placeholder="商户订单号"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">支付方式</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="payOrder.payMethod" placeholder="支付方式"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">交易状态</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="payOrder.orderStatus" placeholder="交易状态"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">机构编号</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="payOrder.orgNo" placeholder="机构编号"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">已退款金额</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="payOrder.redundedAmt" placeholder="已退款金额"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/pay/pay_order.js?_${date.systemTime}"></script>
</body>
</html>